In [1]:
import pandas as pd

In [2]:
temp2 = pd.Series([50, 60, 90, 95], index=['T', 'W', 'Th', 'S'])

## Summary Statistics

In [3]:
temp2

T     50
W     60
Th    90
S     95
dtype: int64

In [4]:
temp2.mode()

Series([], dtype: int64)

In [5]:
temp2.describe()

count     4.00000
mean     73.75000
std      22.12653
min      50.00000
25%      57.50000
50%      75.00000
75%      91.25000
max      95.00000
dtype: float64

In [6]:
temp2.value_counts()

95    1
60    1
90    1
50    1
dtype: int64

In [7]:
ser8 = pd.Series(['Prius', 'Accord', 'Prius', 'Camry'], dtype='category')

In [8]:
ser8

0     Prius
1    Accord
2     Prius
3     Camry
dtype: category
Categories (3, object): [Accord, Camry, Prius]

In [9]:
ser8.describe()

count         4
unique        3
top       Prius
freq          2
dtype: object

In [10]:
ser8.value_counts()

Prius     2
Camry     1
Accord    1
dtype: int64

In [11]:
temp2.describe()

count     4.00000
mean     73.75000
std      22.12653
min      50.00000
25%      57.50000
50%      75.00000
75%      91.25000
max      95.00000
dtype: float64

In [12]:
temp2.quantile(.3)

59.0

In [13]:
temp2.describe(percentiles=[.05, .1, .2])

count     4.00000
mean     73.75000
std      22.12653
min      50.00000
5%       51.50000
10%      53.00000
20%      56.00000
50%      75.00000
max      95.00000
dtype: float64