In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Product
Various "joins" are supported

In [3]:
 inst_df = pd.DataFrame(
      [{'Name': 'John', 'Inst': 'guitar'},
          {'Name': 'Ringo', 'Inst': 'drums'}])

In [4]:
inst_df

     Inst   Name
0  guitar   John
1   drums  Ringo

In [6]:
# define inner join
pd.merge(df, inst_df, how='inner', on='Name')

    Name  growth   Inst
0  Ringo     1.2  drums

In [7]:
# inner join default
pd.merge(df, inst_df)

    Name  growth   Inst
0  Ringo     1.2  drums

In [8]:
# outer join
pd.merge(df, inst_df, how='outer', on='Name')

     Name  growth    Inst
0    Paul     0.5     NaN
1  George     0.7     NaN
2   Ringo     1.2   drums
3    John     NaN  guitar

In [9]:
# left join
pd.merge(df, inst_df, how='left', on='Name')

     Name  growth   Inst
0    Paul     0.5    NaN
1  George     0.7    NaN
2   Ringo     1.2  drums

In [10]:
# right join
pd.merge(df, inst_df, how='right', on='Name')

    Name  growth    Inst
0  Ringo     1.2   drums
1   John     NaN  guitar

In [12]:
# if column names don't match up we can 
inst2 = inst_df.copy()
inst2 = inst2.rename(columns={'Name': 'first'})
inst2

     Inst  first
0  guitar   John
1   drums  Ringo

In [13]:
#merge error
pd.merge(df, inst2)

MergeError: No common columns to perform merge on

In [14]:
#key error
pd.merge(df, inst2, on="Name")

KeyError: 'Name'

In [15]:
# inner join
# merge left with right
pd.merge(df, inst2,left_on='Name', right_on='first')

    Name  growth   Inst  first
0  Ringo     1.2  drums  Ringo

In [18]:
# if column names don't match up we can use left_on, right_on
# inst2 = inst_df.copy()
# inst2 = inst2.rename(columns={'Name': 'first'})
#
pd.merge(df, inst2, how='right', left_on='Name', right_on='first')

    Name  growth    Inst  first
0  Ringo     1.2   drums  Ringo
1    NaN     NaN  guitar   John

In [19]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [20]:
inst_df

     Inst   Name
0  guitar   John
1   drums  Ringo

In [21]:
# can merge on index, doesn't make sense here
pd.merge(df, inst_df, left_index=True, right_index=True)

   Name_x  growth    Inst Name_y
0    Paul     0.5  guitar   John
1  George     0.7   drums  Ringo

In [23]:
# more intresting
df.set_index('Name')

        growth
Name
Paul       0.5
George     0.7
Ringo      1.2

In [24]:
# can merge on index, 
pd.merge(df.set_index('Name'), inst_df.set_index("Name"), left_index=True, right_index=True)

       growth   Inst
Name
Ringo     1.2  drums

In [25]:
# can merge on index, 
pd.merge(df.set_index('Name'), inst_df.set_index("Name"), left_index=True, right_index=True, how='outer')

        growth    Inst
Name
George     0.7     NaN
John       NaN  guitar
Paul       0.5     NaN
Ringo      1.2   drums