In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})
inst_df = pd.DataFrame([{ 'Name': 'John', 'Inst':'guitar'},
                       { 'Name': 'Ringo', 'Inst':'drums'},])

## Union

### Concatinate a table to itself or another table

In [8]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [9]:
inst_df

     Inst   Name
0  guitar   John
1   drums  Ringo

In [10]:
# union
pd.concat([df, df])

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [11]:
# union
# index donot repeated
pd.concat([df, df]).reset_index()

   index    Name  growth
0      0    Paul     0.5
1      1  George     0.7
2      2   Ringo     1.2
3      0    Paul     0.5
4      1  George     0.7
5      2   Ringo     1.2

In [12]:
# union similar result of concat
df.append(df)

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [13]:
# reset index
df.append(df).reset_index()

   index    Name  growth
0      0    Paul     0.5
1      1  George     0.7
2      2   Ringo     1.2
3      0    Paul     0.5
4      1  George     0.7
5      2   Ringo     1.2

In [14]:
# reset automatically
df.append(df, ignore_index=True)

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
3    Paul     0.5
4  George     0.7
5   Ringo     1.2

In [15]:
# reset index
df.append(df).reset_index(drop=True)

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
3    Paul     0.5
4  George     0.7
5   Ringo     1.2

In [17]:
# note that index is not unique
ind = df.append(df).index
ind.is_unique

False

In [23]:
# note that index is not unique
df2 = df.append(df)

In [24]:
df2.reset_index().index.is_unique

True

In [25]:
df2.iloc[0]

Name      Paul
growth     0.5
Name: 0, dtype: object

In [26]:
df2.loc[0]

   Name  growth
0  Paul     0.5
0  Paul     0.5

In [16]:
df2 = df.append(df).reset_index()
df2

   index    Name  growth
0      0    Paul     0.5
1      1  George     0.7
2      2   Ringo     1.2
3      0    Paul     0.5
4      1  George     0.7
5      2   Ringo     1.2

In [81]:
ind = df2.index
ind.is_unique

True