In [1]:
import pandas as pd

##  Creation from Lists and Dicts

In [2]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols, columns=['name', 'age'])

In [3]:
df

     name  age
0    Paul   22
1  George   21
2   Ringo   23

In [4]:
rows = [{'name':'Paul', 'age': 22},
       {'name':'George', 'age': 21},
       {'age':23, 'name':'Ringo'}]
df = pd.DataFrame(rows)

In [5]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [6]:
import json
col_json = json.dumps(cols)
col_json
df = pd.read_json(col_json)

In [7]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [8]:
row_json = json.dumps(rows)
row_json
df = pd.read_json(row_json)

In [9]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo