In [1]:
import pandas as pd

In [2]:
cols = {'name': ['Paul', 'George', 'Ringo'],
       'age': [22, 21, 23]}
df = pd.DataFrame(cols)

In [3]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo

In [4]:
df.to_csv('/tmp/beat.csv', index=False)

## Reading CSV Files

In [5]:
filename = '/tmp/beat.csv'
df = pd.read_csv(filename)

In [6]:
df

   age    name
0   22    Paul
1   21  George
2   23   Ringo