In [1]:
import io

import pandas as pd

In [2]:
data = '''Name|Age|Color
Fred|22|Red
Sally|29|Blue
George|24|
Fido||Black'''

df = pd.read_table(io.StringIO(data), sep='|')

In [3]:
df

     Name   Age  Color
0    Fred  22.0    Red
1   Sally  29.0   Blue
2  George  24.0    NaN
3    Fido   NaN  Black

## Using Functions to Filter

In [4]:
df

     Name   Age  Color
0    Fred  22.0    Red
1   Sally  29.0   Blue
2  George  24.0    NaN
3    Fido   NaN  Black

In [6]:
def is_prime(val):
    try:
        end = int(val/2) + 1
    except ValueError:
        # NaN
        return False
    for i in range(2, end):
        if val % i == 0:
            return False
    return True

In [7]:
mask = df.Age.apply(is_prime)
mask

0    False
1     True
2    False
3    False
Name: Age, dtype: bool

In [8]:
df[mask]

    Name   Age Color
1  Sally  29.0  Blue

In [9]:
def lt25(val):
    return val < 25

df[df.Age.apply(lt25)]

     Name   Age Color
0    Fred  22.0   Red
2  George  24.0   NaN

In [10]:
df[df.Age < 25]

     Name   Age Color
0    Fred  22.0   Red
2  George  24.0   NaN