In [1]:
from io import StringIO

import numpy as np
import pandas as pd

In [2]:
data = {'Birth': ['9-1-1900', '1-3-1904', '2-28-1889'],
       'Name': [ 'Fred', 'Márge', 'Henry'],
       'Color': ['Red', 'Blue', None],
       'Number': [3, 1, 9]} # option-e a á
df = pd.DataFrame(data)

## Excel

In [3]:
df

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889  None  Henry       9

In [4]:
df.dtypes

Birth     object
Color     object
Name      object
Number     int64
dtype: object

In [5]:
df.to_excel('/tmp/names.xls') # pip install xlwt

In [6]:
df_xls = pd.read_excel('/tmp/names.xls') # pip install xlrd

In [7]:
df_xls

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889   NaN  Henry       9

In [8]:
df_xls.dtypes

Birth     object
Color     object
Name      object
Number     int64
dtype: object

In [9]:
df.to_excel('/tmp/names.xlsx') # pip install openpyxl

In [10]:
df_xlsx = pd.read_excel('/tmp/names.xlsx')

In [11]:
df_xlsx

       Birth Color   Name  Number
0   9-1-1900   Red   Fred       3
1   1-3-1904  Blue  Márge       1
2  2-28-1889   NaN  Henry       9

In [12]:
df_xlsx.dtypes

Birth     object
Color     object
Name      object
Number     int64
dtype: object