In [1]:
import pandas as pd
from pandas.io.data import DataReader
import numpy as np
from dateutil.parser import parse

/home/k/anaconda3/lib/python3.5/site-packages/pandas/io/data.py:35: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

## Window Functions

In [2]:
idx = pd.date_range('1/1/2000', periods=500, freq='d')

In [3]:
idx

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2001-05-05', '2001-05-06', '2001-05-07', '2001-05-08',
               '2001-05-09', '2001-05-10', '2001-05-11', '2001-05-12',
               '2001-05-13', '2001-05-14'],
              dtype='datetime64[ns]', length=500, freq='D')

In [4]:
ser = pd.Series(np.random.randn(len(idx)), index=idx)

In [5]:
ser

2000-01-01    2.442100
2000-01-02   -0.675982
2000-01-03   -0.642238
2000-01-04    0.998327
2000-01-05   -0.157217
2000-01-06   -0.060568
2000-01-07    0.018842
2000-01-08    0.515121
2000-01-09    0.288402
2000-01-10    0.235223
2000-01-11    0.419987
2000-01-12   -0.184649
2000-01-13   -0.213494
2000-01-14    2.280596
2000-01-15    0.186151
2000-01-16   -0.407548
2000-01-17   -2.456670
2000-01-18   -0.334379
2000-01-19   -0.835238
2000-01-20    0.090643
2000-01-21   -1.591925
2000-01-22   -0.890288
2000-01-23   -0.097234
2000-01-24   -2.075792
2000-01-25    0.001939
2000-01-26   -0.126447
2000-01-27    0.040942
2000-01-28    0.109121
2000-01-29   -0.843421
2000-01-30    0.548469
                ...
2001-04-15    2.199949
2001-04-16   -0.717898
2001-04-17    0.349674
2001-04-18    2.115316
2001-04-19    0.244658
2001-04-20   -1.307282
2001-04-21   -0.380056
2001-04-22   -0.446086
2001-04-23   -0.195893
2001-04-24   -0.422923
2001-04-25    0.942648
2001-04-26   -0.462705
2001-04-27    0.856728
2001-04-28    0.530866
2001-04-29    0.576027
2001-04-30   -0.185031
2001-05-01   -0.400961
2001-05-02   -0.381783
2001-05-03   -1.537179
2001-05-04   -0.227953
2001-05-05    0.479562
2001-05-06   -0.534266
2001-05-07   -1.590103
2001-05-08    1.282373
2001-05-09    0.771437
2001-05-10    1.257271
2001-05-11    0.741949
2001-05-12   -0.271686
2001-05-13    0.871168
2001-05-14   -1.191046
Freq: D, dtype: float64

In [6]:
ser2 = ser + ser.shift(2)

In [7]:
ser2

2000-01-01         NaN
2000-01-02         NaN
2000-01-03    1.799862
2000-01-04    0.322345
2000-01-05   -0.799455
2000-01-06    0.937759
2000-01-07   -0.138375
2000-01-08    0.454553
2000-01-09    0.307244
2000-01-10    0.750344
2000-01-11    0.708389
2000-01-12    0.050574
2000-01-13    0.206492
2000-01-14    2.095948
2000-01-15   -0.027343
2000-01-16    1.873048
2000-01-17   -2.270519
2000-01-18   -0.741927
2000-01-19   -3.291907
2000-01-20   -0.243736
2000-01-21   -2.427163
2000-01-22   -0.799645
2000-01-23   -1.689159
2000-01-24   -2.966080
2000-01-25   -0.095294
2000-01-26   -2.202239
2000-01-27    0.042881
2000-01-28   -0.017326
2000-01-29   -0.802480
2000-01-30    0.657590
                ...
2001-04-15    3.958599
2001-04-16   -0.563048
2001-04-17    2.549623
2001-04-18    1.397418
2001-04-19    0.594332
2001-04-20    0.808034
2001-04-21   -0.135398
2001-04-22   -1.753368
2001-04-23   -0.575949
2001-04-24   -0.869009
2001-04-25    0.746755
2001-04-26   -0.885629
2001-04-27    1.799376
2001-04-28    0.068161
2001-04-29    1.432755
2001-04-30    0.345836
2001-05-01    0.175066
2001-05-02   -0.566814
2001-05-03   -1.938140
2001-05-04   -0.609737
2001-05-05   -1.057617
2001-05-06   -0.762219
2001-05-07   -1.110542
2001-05-08    0.748107
2001-05-09   -0.818667
2001-05-10    2.539644
2001-05-11    1.513385
2001-05-12    0.985585
2001-05-13    1.613117
2001-05-14   -1.462732
Freq: D, dtype: float64

In [8]:
ser.resample('Q')

/home/k/anaconda3/lib/python3.5/site-packages/IPython/lib/pretty.py:108: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  return getattr(obj, attr, default)

DatetimeIndexResampler [freq=<QuarterEnd: startingMonth=12>, axis=0, closed=right, label=right, convention=start, base=0]

In [9]:
ser.resample('m')

/home/k/anaconda3/lib/python3.5/site-packages/IPython/lib/pretty.py:108: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  return getattr(obj, attr, default)

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, base=0]

In [10]:
ser.resample('Q')

/home/k/anaconda3/lib/python3.5/site-packages/IPython/lib/pretty.py:108: FutureWarning: .resample() is now a deferred operation
use .resample(...).mean() instead of .resample(...)
  return getattr(obj, attr, default)

DatetimeIndexResampler [freq=<QuarterEnd: startingMonth=12>, axis=0, closed=right, label=right, convention=start, base=0]

In [ ]:
# http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases

In [11]:
spy = DataReader('SPY', data_source='yahoo')

In [12]:
spy.tail().T

Date,2016-10-03 00:00:00,2016-10-04 00:00:00,2016-10-05 00:00:00,2016-10-06 00:00:00,2016-10-07 00:00:00
Open,2.158200e+02,2.159100e+02,2.154100e+02,2.153700e+02,2.161000e+02
High,2.160400e+02,2.161700e+02,2.161300e+02,2.160400e+02,2.163000e+02
Low,2.150400e+02,2.139900e+02,2.153300e+02,2.147400e+02,2.141900e+02
Close,2.157800e+02,2.146800e+02,2.156300e+02,2.157800e+02,2.150400e+02
Volume,8.351210e+07,1.199481e+08,7.281600e+07,6.292740e+07,8.851070e+07
Adj Close,2.157800e+02,2.146800e+02,2.156300e+02,2.157800e+02,2.150400e+02

In [13]:
spy['mean50'] = pd.rolling_mean(spy.Close, 50)
spy['mean200'] = pd.rolling_mean(spy.Close, 200)

/home/k/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=50,center=False).mean()
  if __name__ == '__main__':
/home/k/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: pd.rolling_mean is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=200,center=False).mean()
  from ipykernel import kernelapp as app

In [14]:
spy.tail().T

Date,2016-10-03 00:00:00,2016-10-04 00:00:00,2016-10-05 00:00:00,2016-10-06 00:00:00,2016-10-07 00:00:00
Open,2.158200e+02,2.159100e+02,2.154100e+02,2.153700e+02,2.161000e+02
High,2.160400e+02,2.161700e+02,2.161300e+02,2.160400e+02,2.163000e+02
Low,2.150400e+02,2.139900e+02,2.153300e+02,2.147400e+02,2.141900e+02
Close,2.157800e+02,2.146800e+02,2.156300e+02,2.157800e+02,2.150400e+02
Volume,8.351210e+07,1.199481e+08,7.281600e+07,6.292740e+07,8.851070e+07
Adj Close,2.157800e+02,2.146800e+02,2.156300e+02,2.157800e+02,2.150400e+02
mean50,2.168188e+02,2.167794e+02,2.167570e+02,2.167422e+02,2.167076e+02
mean200,2.063811e+02,2.064302e+02,2.065082e+02,2.065788e+02,2.066365e+02