In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Projection
Pull out columns

In [3]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [5]:
df.dtypes

Name       object
growth    float64
dtype: object

In [22]:
# Return series
df.Name # start with a alpha underscore

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [6]:
# Return series
# passing string
df['Name']

0      Paul
1    George
2     Ringo
Name: Name, dtype: object

In [7]:
#error
df[Name]

NameError: name 'Name' is not defined

In [24]:
# passing list of string
df[['Name']]

     Name
0    Paul
1  George
2   Ringo

In [26]:
df[['Name', 'growth']]

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [40]:
# get more complicated by indexing off of .loc
df.loc[df.Name.str.contains('r'), ['Name']]

     Name
1  George

In [45]:
# with positional indexing (take rows 2 & 1, take columns from 1 and up)
df.iloc[[2,1], 1:]

   growth
2     1.2
1     0.7