In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'Name': 'Paul,George,Ringo'.split(','),
                  'growth': [.5, .7, 1.2]})

## Union

### Concatinate a table to itself or another table

In [5]:
df

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [6]:
inst_df

NameError: name 'inst_df' is not defined

In [63]:
# union
pd.concat([df, df])

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [64]:
# union
df.append(df)

     Name  growth
0    Paul     0.5
1  George     0.7
2   Ringo     1.2
0    Paul     0.5
1  George     0.7
2   Ringo     1.2

In [77]:
# note that index is not unique
ind = df.append(df).index
ind.is_unique

False

In [80]:
df2 = df.append(df).reset_index()
df2

   index    Name  growth
0      0    Paul     0.5
1      1  George     0.7
2      2   Ringo     1.2
3      0    Paul     0.5
4      1  George     0.7
5      2   Ringo     1.2

In [81]:
ind = df2.index
ind.is_unique

True